.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width: 60%;
    background-color: khaki;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 40%;
    background-color: khaki;
  }
  
  .body {
    background-color:khaki;
    color: green;
    font-family:'Courier New', Courier, monospace;
}

.centered {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
